<!-- <form class="login100-form validate-form" [formGroup]="authForm">
    <span class="login100-form-title">{{ !isLogin ? 'Member Login' : 'Member Register' }}</span>
    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
      <input formControlName="email"  class="input100" type="text" name="email" placeholder="Email">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>
    <div class="wrap-input100 validate-input" data-validate = "Password is required">
      <input formControlName="password"  class="input100" type="password" name="pass" placeholder="Password">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <div class="container-login100-form-btn">
      <button *ngIf="!isLogin" class="login100-form-btn" type="button" (click)="loginUser()">Login</button>
      <button *ngIf="isLogin" class="login100-form-btn" type="button" (click)="registerUser()">Register</button>
    </div>
    <div class="text-center p-t-12">
      <a class="txt2" (click)="changeIsLogin()">{{ !isLogin ? 'Dont have account?' : 'Have an account?' }}</a>
    </div>
  </form> -->

  <form [formGroup]="authForm">
    <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="button" *ngIf="!isLogin" (click)="loginUser()" mat-dialog-close>Login</button>
    <button mat-raised-button color="primary" type="button" *ngIf="isLogin" (click)="registerUser()" mat-dialog-close>Register</button>
    <a class="txt2" (click)="changeIsLogin()">{{ !isLogin ? 'Dont have account?' : 'Have an account?' }}</a>
  </form>
