<div class="container-fluid mt-2">
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" aria-orientation="vertical">
      <button [routerLink]="[ 'discount' ]" routerLinkActive="active" class="nav-link" type="button">Discount</button>
      <button [routerLink]="[ 'category' ]" routerLinkActive="active" class="nav-link" type="button">Category</button>
      <button [routerLink]="[ 'product' ]" routerLinkActive="active" class="nav-link" type="button">Product</button>
      <button [routerLink]="[ 'orders' ]" routerLinkActive="active" class="nav-link" type="button">Orders</button>
      <button class="btn btn-danger" (click)="logOut()" type="button">Log Out</button>
    </div>
    <div class="tab-content w-100" id="v-pills-tabContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
